<div>
<img id="grilled" src="../assets/img/grill-em-all-Logo.png" alt="Grill 'Em All'">
</div>

<div class = "row">
  <div class = "col-md-6">
      <h2>Soon To Be Devoured Burgers!</h2>
      <p>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/if}}
        {{/each}}
      </p>
  </div>
    <div class = "col-md-6">
      <h2>100% Devoured Burgers!</h2>
      <p>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/unless}}
        {{/each}}
      </p>
  </div>
</div>

<div id="design">
  <h2>Design A Burger!</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="bu">Burger Name:</label>
      <input type="text" id="bu" name="name">
    </div>

    <div class="form-group">
      <label for="devo">Original state of burger?</label><br>
      <input type="radio" name="devoured" value="0"> Unconsumed!
      <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    </div>

    <button type="submit">Design A Burger</button>
  </form>
</div>
