body {
    background-color: black;
    color: white;
    font-family: 'Covered By Your Grace', cursive;
}

#grilled {
    align: center;
}

li {
    padding: 5px;
    margin: 5px;
    background: #FE0101;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

#design {
    margin: auto;
    padding: 30px;
}