body {
    background-color: black;
    color: white;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 25px;
}

#grilled {
    align-content: center;
}

p2 {
    padding: 5px;
    margin: 5px;
    background: #FE0101;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

#design {
    margin: auto;
    padding: 30px;
    /* border: 2px; */
    /* border-color: red; */
}